body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  text-align: center;
}

h1 {
  margin: 20px;
}

#svg-container {
  padding: 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;

}

#svg-container svg {
  width: 100%;
  height: auto;
  max-width: 1200px;       /* maximale Breite */
  max-height: 80vh;        /* maximale Höhe: 80% der Browserhöhe */
  object-fit: contain;     /* Inhalt proportional skalieren */
}


.svg-wrap {
  position: relative;
  max-width: 100%;
}

.svg-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 8px 10px;
  background: rgba(84, 194, 84, 0.95);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  font: 14px/1.35 sans-serif;
  text-align: left;
  pointer-events: none;
  display: inline-block;

  /* Umbruch-Regeln */
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;

  /* Begrenzung */
  max-width: 60%;
  max-height: 50vh;
  overflow-y: auto;

  opacity: 0;
  transition: opacity 120ms ease-out;
}

