body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  text-align: center;
}

h1 {
  margin: 20px;
}

#svg-container {
  padding: 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;

}

#svg-container svg {
  width: 100%;
  height: auto;
  max-width: 1200px;       /* maximale Breite */
  max-height: 80vh;        /* maximale Höhe: 80% der Browserhöhe */
  object-fit: contain;     /* Inhalt proportional skalieren */
}

/* Tooltip */
.svg-tooltip {
  position: fixed;
  padding: 6px 8px;
  background: rgba(84, 194, 84, 0.95);
  color: #fff;
  border-radius: 4px;
  font: 12px/1.25 system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  box-shadow: 0 4px 12px rgba(125, 215, 144, 0.57);
  pointer-events: none;
  z-index: 99999;
  white-space: nowrap;
  opacity: 0;
  transition: opacity .12s ease-out, transform .12s ease-out;
  transform: translate(8px, 8px);
}
